/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}  */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */
/* Style */
* {
  border: thin red solid;
}
* body {
  padding: 10px 10px;
  background-color: #676767;
  display: flex;
  justify-content: center;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 17px;
}
* body .items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  padding: 25px;
  text-align: center;
  max-width: 640px;
  justify-content: center;
  background-color: #dddddc;
}
* body .items .banner {
  display: flex;
  justify-content: center;
}
* body .items .banner .prof-pic-frame {
  width: 128px;
  height: 128px;
  object-fit: auto;
  border-radius: 128px;
  overflow: hidden;
}
* body .items .banner .prof-pic-frame .prof-pic {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
}
* body .items .name {
  color: #070706;
  flex-grow: 1;
  justify-content: center;
  /* font-family: 'Catamaran', sans-serif;
  font-size: 48px; */
  font-family: "Ovo", serif;
  font-size: 42px;
}
* body .items .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
* body .items .social-icons a {
  display: flex;
  color: #191917;
  text-decoration: none;
  margin: 0 25px;
  align-items: center;
}
* body .items .link {
  background-color: none;
  display: flex;
  align-items: center;
  padding: 5px;
}
* body .items .link .thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
  margin-left: 5px;
  filter: grayscale(100%);
}
* body .items .link a {
  color: #001e1d;
  text-decoration: none;
  flex-grow: 1;
}
