:root {
  --main-bg-color: #774237;
  --card-bg-color: #fcfcfc;
  --sec-bg-color: #642c2c;
  --button-color: #848696;
  --other-color: #8f9d9c;
  --shadow-color: 11deg 45% 13%;
  --shadow-elevation-low:
    0.3px 0.6px 0.6px hsl(var(--shadow-color) / 0.81),
    0.5px 1.1px 1.1px -1.9px hsl(var(--shadow-color) / 0.62),
    1.5px 3.2px 3.2px -3.9px hsl(var(--shadow-color) / 0.42);
  --shadow-elevation-medium:
    0.3px 0.6px 0.6px hsl(var(--shadow-color) / 0.68),
    0.6px 1.4px 1.4px -1px hsl(var(--shadow-color) / 0.58),
    1.5px 3.2px 3.2px -1.9px hsl(var(--shadow-color) / 0.49),
    3.5px 7.6px 7.7px -2.9px hsl(var(--shadow-color) / 0.39),
    7.4px 16px 16.1px -3.9px hsl(var(--shadow-color) / 0.29);
    --shadow-elevation-high:
    0.3px 0.6px 0.6px hsl(var(--shadow-color) / 0.63),
    1.1px 2.3px 2.3px -0.4px hsl(var(--shadow-color) / 0.59),
    2px 4.4px 4.4px -0.9px hsl(var(--shadow-color) / 0.54),
    3.5px 7.7px 7.7px -1.3px hsl(var(--shadow-color) / 0.5),
    6px 12.9px 13px -1.7px hsl(var(--shadow-color) / 0.45),
    9.6px 20.9px 21px -2.2px hsl(var(--shadow-color) / 0.41),
    15px 32.5px 32.8px -2.6px hsl(var(--shadow-color) / 0.36),
    22.3px 48.3px 48.7px -3px hsl(var(--shadow-color) / 0.32),
    32px 69.3px 69.8px -3.5px hsl(var(--shadow-color) / 0.27),
    44.4px 96.2px 96.9px -3.9px hsl(var(--shadow-color) / 0.22);

}
body { 
  background-color: var(--main-bg-color);
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, var(--main-bg-color) 20%, var(--main-bg-color) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, var(--main-bg-color) 20%, var(--main-bg-color) 80%, transparent 80%, transparent) 30px 30px, linear-gradient( var(--sec-bg-color) 2.4000000000000004px, transparent 2.4000000000000004px) 0 -1.2000000000000002px, linear-gradient(90deg, var(--sec-bg-color) 2.4000000000000004px, var(--main-bg-color) 2.4000000000000004px) -1.2000000000000002px 0;
  background-size: 60px 60px, 60px 60px, 30px 30px, 30px 30px;
margin: 0;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(15px + 0.390625vw);
  width: 100vw;
  height: 100vh
}
.items {
  background-color: var(--card-bg-color);
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 3vh;
  padding: 25px;
  text-align: center;
  max-width: 70vh;
  min-width: 30vw;
  justify-content: center;
  background-color: #fcfcfc;
  box-shadow: var(--shadow-elevation-high);
  border-radius: 10px;  
}
.banner {
  display: flex;
  justify-content: center;

}

.name-social-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3vh 0;
  max-height: inherit;
  

}
.prof-pic {
  width: 20vw;
  height: 20vw;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  margin: 3vh 0;
}

.name {
  color: var(--main-bg-color);
  font-family: "Ovo", serif;
  font-size: 2.6rem;
}
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social-icons a {
  display: flex;
  color: var(--button-color);
  text-decoration: none;
  margin: 0 25px;
  align-items: center;
}
.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
  margin-left: 5px;
  /* filter: grayscale(100%); */
}
.link {
  background: #c49f88;
  display: flex;
  align-items: center;
  justify-items: start;
  padding: 5px;
  border-radius: 5px;
  box-shadow: var(--shadow-elevation-low);
  flex: 0 1 0;

}
.link a {
  color: #fcfcfc;
  text-decoration: none;
  flex-grow: 1;
  text-align: left;
  padding-left: 5px;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1rem;
}
